.gallery img{
    width: 100%;
}
#menu{
      width:100%;
      height:40px;
      background-color: green;
      padding-top: 12px;
}

#menu a{
      color:#ffffff;
      font-family: Helvetica, sans-serif;
      font-size: 18px;
      text-decoration:none;
      font-weight: 800px;
      
      padding-left: 20px;
      padding-right: 20px;
}

#menu a:hover{
       color: #5077bd;
}
button{
      font-size: x-large;
      border: none;
      cutline: none;
      padding: 10px;
      border-radius: 10px;
      background-color: green;
      color: white;

}
.footerbottom{
      background-color: blue;
      text-align: center;
      font-size: larger;
}
footerbottom p{
      color: white;
}
.designer{
      opacity: 0.7;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0px;
      text-align: center;
      color: blue;
}
table{
   font-family: Arial, Helvetica, sans-serif;
   border-width: 5px;
   border-style: dashed;
   border-color: green;
}
.contact-container{
      height: 90vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
}
.contact-left{
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;
}
.contact-left-title h2{
      font-weight: 500;
      color: black;
      font-size: 40px;
      margin-bottom: 5px;

}
body{
      font-family: outfit;
      background-color: bisque;
}
.contact-left-title hr{
      border: none;
      width: 400px;
      height: 5px;
      background-color: green;
      border-radius: 10px;
      margin-bottom: 20px;
}
.contact-left textarea{
      height: 140px;
      padding-top: 15px;
      border-radius: 20px;
}
.contact-inputs{
      width: 350px;
      height: 50px;
      border: none;
      outline: none;
      padding-left: 25px;
      font-weight: 500;
      color: black;
      border-radius: 50px;
}

     

