.gallery img{
    width: 100%;
}
#menu{
      width:100%;
      height:40px;
      background-color: green;
      padding-top: 12px;
}

#menu a{
      color:#ffffff;
      font-family: Helvetica, sans-serif;
      font-size: 18px;
      text-decoration:none;
      font-weight: 800px;
      
      padding-left: 20px;
      padding-right: 20px;
}

#menu a:hover{
       color: #5077bd;
}
button{
      font-size: x-large;
      border: none;
      cutline: none;
      padding: 10px;
      border-radius: 10px;
      background-color: green;
      color: white;

}
.footerbottom{
      background-color: blue;
      text-align: center;
      font-size: larger;
}
footerbottom p{
      color: white;
}
.designer{
      opacity: 0.7;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0px;
      text-align: center;
      color: blue;
}
table{
   font-family: Arial, Helvetica, sans-serif;
   border-width: 5px;
   border-style: dashed;
   border-color: green;
}
